<div class="sidebar">
  <ul class="nav navmenu-nav">
    <li>
      <%= link_to root_path do %>
        <span class="hidden-xs">Overview</span>
        <%= fa_icon icon_overview %>
      <% end %>
    </li>
    <li>
      <%= link_to repositories_path do %>
        <span class="hidden-xs">Repositories</span>
        <%= fa_icon icon_repositories %>
      <% end %>
    </li>
    <li>
      <%= link_to members_path do %>
        <span class="hidden-xs">Members</span>
        <%= fa_icon icon_members %>
      <% end %>
    </li>
    <li>
      <%= link_to groups_path do %>
        <span class="hidden-xs">Groups</span>
        <%= fa_icon icon_groups %>
      <% end %>
    </li>
  </ul>
  <!--
  <ul class="nav navmenu-nav sidebar-footer">
    <li><%= link_with_icon "#", icon_shrink_sidebar, "Hide", data: { toggle: 'shrink-sidebar' } %></li>
  </ul>
  -->
</div>
